STRIPE_SECRET_KEY=sk_test_your_key_here
STRIPE_PUBLISHABLE_KEY=pk_test_your_key_here
COINBASE_COMMERCE_API_KEY=your_coinbase_commerce_api_key_here

STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret_here

OUTLOOK_USER=your_email@outlook.com
OUTLOOK_PASSWORD=your_outlook_password_here

PORT=3000
